body {
  background: radial-gradient(ellipse at bottom, #022227 0%, #000000 100%);
  /* background-color: black; */
  position: relative;
  height: 100vh;
  width: 100vh;
  margin: 0;
  display: grid;
  place-items: center;
}
@keyframes shine {
  from {
    background-position: center 0;
  }
  to {
    background-position: center 200%;
  }
}
h1 {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif ;
  font-size: 15vh;
  letter-spacing: 1vw;
  color: white;
  background: url("./img/photo-1550757750-4ce187a65014.avif");
  background-size: auto 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 8s linear infinite;
}
